@use '../../../styles/variables/colors' as color;
@use '../../../styles/variables/spacing' as spacing;
@use '../../../styles/mixins/focus' as focus;

.tab {
  width: 5.5rem;
  padding: spacing.$sm 0;
  border-top-left-radius: spacing.$xs;
  border-top-right-radius: spacing.$xs;
  background-color: color.$background-grey;
  position: relative;

  &.selected {
    background-color: color.$primary-main;
    color: color.$text-white;
    cursor: default;

    &:hover {
      background-color: color.$primary-main;
    }

    &.disabled {
      background-color: color.$primary-disabled;
    }
  }

  &:hover {
    background-color: color.$background-lightgrey;
  }

  &.disabled {
    background-color: color.$background-lightgrey;
    color: color.$text-default;
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px color.$primary-main;
    z-index: 1;
  }
}
