@use '../../../styles/variables/spacing' as spacing;
@use '../../../styles/variables/colors' as color;

.checkboxGroup {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
  padding: spacing.$sm;
  background-color: color.$background-white;
  overflow: auto;
  max-height: 40vh;
}
