@use '../../../styles/variables/spacing' as spacing;
@use '../../../styles/variables/colors' as color;
@use '../../../styles/mixins/respond-to-mobile' as respond-to-mobile;

.checkboxGroup {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
  padding: spacing.$sm;
  background-color: color.$background-white;
  overflow: auto;
  max-height: 40vh;

  @include respond-to-mobile.respond-to-mobile {
    max-height: 30vh;
  }
}
