$primary-disabled: #b3d1ff;
$primary-light: #4dabf5;
$primary-main: #1976d2;

$background-grey: #d1d1d1;
$background-lightgrey: #e4e4e4;
$background-default: #f5f5f5;
$background-white: #fff;

$text-default: #333;
$text-white: #fff;
