@use '../../../styles/variables/spacing' as spacing;
@use '../../../styles/variables/colors' as color;

.checkboxContainer {
  display: flex;
  align-items: center;
  margin: spacing.$xs;
  width: 6rem;

  .input {
    margin-right: spacing.$sm;
    cursor: pointer;

    &:checked {
      background-color: color.$primary-main;
    }

    &:focus {
      outline: spacing.$min solid color.$primary-main;
      outline-offset: spacing.$min;
    }
  }

  .label {
    margin-right: spacing.$sm;
    cursor: pointer;
  }
}
